# --- Security (IMPORTANT) ---
config.json
*.pfx
*.pem

# --- Python Environment ---
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# --- Build & Distribution ---
dist/
build/
*.exe
*.spec

# --- IDEs ---
.vscode/
.idea/